body
{
    color:rgb(51, 0, 99);
    background-color:rgb(176, 91, 255);
}
.heading{
    width: 80%;
    font-size: 22px;

}
#camera,#result{
    border:2px dashed black;
width: 360px;
height: 300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:aquamarine
}